<div class="menu">
  <section>
    <img routerLink="/" class="img-fluid" src="/assets/logo.png" alt="Logotipo Velt">
    <button>
      Adicionar empresa
    </button>
  </section>

</div>
<div class="filter">

  <section>

  <img src="/assets/select.svg" alt="">
  </section>


</div>
<div class="content">
  <section>
    <div class="row">
      <div *ngFor="let company of companies" class="col-sm-4">

        <div class="cartao" routerLink="/company/{{company._id}}">
          <section>
            <button>Comparar</button>
            <button>Seguir</button>
          </section>


          <h3>{{company.name}}</h3>
          <div class="cartao-content">

            <div>
              <p>
                Nota geral
              </p>
              <h3>93</h3>
            </div>

            <div>
              <div>
                <img src="https://via.placeholder.com/25x25">
                <img src="https://via.placeholder.com/25x25">
                <img src="https://via.placeholder.com/25x25">
              </div>

              <div>
                <img src="https://via.placeholder.com/25x25">
                <img src="https://via.placeholder.com/25x25">
                <img src="https://via.placeholder.com/25x25">
              </div>
            </div>


          </div>

          <div class="cartao-trends">

            <div class="cartao-trend financeiro">

              <div><img src="/assets/financeiro.svg" alt=""></div>
              <div>
                <span *ngIf="company.rankings.financial.variation > 0">+</span>
                <span>{{company.rankings.financial.variation | number:'1.0-1' }}%<br>Financeiro</span>
              </div>
              <div>
                <h3><span style="font-size: 16px;">#</span>{{company.rankings.financial.value}}</h3>
              </div>

            </div>

            <div class="cartao-trend social">

              <div><img src="/assets/social.svg" alt=""></div>
              <div>
                <span *ngIf="company.rankings.social.variation > 0">+</span>
                <span>{{company.rankings.social.variation | number:'1.0-1' }}%<br>Social</span>
              </div>
              <div>
                <h3><span style="font-size: 16px;">#</span>{{company.rankings.social.value}}</h3>
              </div>

            </div>

            <div class="cartao-trend comercial">

              <div><img src="/assets/comercial.svg"alt=""></div>
              <div>
                <span>
                  <span *ngIf="company.rankings.comercial.variation > 0">+</span>
                  {{company.rankings.comercial.variation | number:'1.0-1' }}%<br>Comercial</span>
              </div>
              <div>
                <h3><span style="font-size: 16px;">#</span>{{company.rankings.comercial.value}}</h3>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </section>
</div>
