<div class="menu">
  <section>
    <img routerLink="/" class="img-fluid" src="/assets/logo.png" alt="Logotipo Velt">
    <button>
      Adicionar empresa
    </button>
  </section>

</div>

<div class="content">
  <section>

    <div class="financeiro">


      <section>

        <div class="row">
          <div class="col">
            <div class="card-detail">
                <h5>{{company.name}}</h5>

              <img class="img-fluid" src="/assets/section_financeiro.svg">
              <img class="img-fluid" src="/assets/section_social.svg">
              <img class="img-fluid" src="/assets/section_comercial.svg">

            </div>
          </div>




        </div>

      </section>

    </div>

  </section>
</div>
