<div class="menu">
  <section>
    <img class="img-fluid" src="https://velt.com/img/velt_partners-negativo-rgb-01.svg" alt="Logotipo Velt">
    <button>
      Adicionar empresa
    </button>
  </section>

</div>

<div class="content">
  <section>

    <div class="financeiro">
      <h5>{{company.name}}</h5>
      <h1>Financeiro</h1>

      <section>

        <div class="row">
          <div class="col">
            <div class="card-detail">
              <strong>Presença digital</strong>

              <ul>
                <li><span>234</span> comentários no instagram</li>
              </ul>
            </div>
          </div>

          <div class="col"></div>

          <div class="col"></div>
        </div>

      </section>

    </div>

  </section>
</div>
