
<div class="menu">
  <section>
    <img class="img-fluid" src="https://velt.com/img/velt_partners-negativo-rgb-01.svg" alt="Logotipo Velt">
    <button>
      Adicionar empresa
    </button>
  </section>

</div>
<div class="filter"></div>
<div class="content">
  <section>
    <div class="row">
      <div *ngFor="let x of companies"class="col">
        <div class="cartao">
          <div class="cartao-header">
            <button>Comparar</button>
            <button>Seguir</button>
          </div>
          <h3>Mercado Livre</h3>
          <div class="cartao-content">
            <div>
              <p>
                Nota geral<br>79
              </p>
            </div>
            <div>
              <span></span>
              <span></span>
              <span></span>

              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div class="cartao-trends">

            <div class="cartao-trend financeiro">

              <div><img src="https://via.placeholder.com/25x25" alt=""></div>
              <div>
                <p>+32%<br>Financeiro</p>
              </div>
              <div>
                <p style="font-size: 30px;">
                  <span style="font-size: 15px;">#</span>1
                </p>
              </div>

            </div>

            <div class="cartao-trend social">

              <div><img src="https://via.placeholder.com/25x25" alt=""></div>
              <div>
                <p>+32%<br>Financeiro</p>
              </div>
              <div>
                <p style="font-size: 30px;">
                  <span style="font-size: 15px;">#</span>1
                </p>
              </div>

            </div>

            <div class="cartao-trend comercial">

              <div><img src="https://via.placeholder.com/25x25" alt=""></div>
              <div>
                <p class="text-left">+32%<br>Financeiro</p>
              </div>
              <div>
                <p style="font-size: 30px;">
                  <span style="font-size: 15px;">#</span>1
                </p>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </section>
</div>

